/* Landing page styles */


#landing-page {
  min-height: 100vh;
  /* background: var(--main-bg-color); */
}
header {
  display: flex;
  flex-direction: row;
}

header:before,
header:after {
  font-size: 7rem;
  line-height: 7rem;
  height: auto;
  margin: 0 10px;
  color: var(--highlight-color);
  position: relative;
  top: -0.5rem;
  /* vertical-align: baseline; */
}
header:before {
  content: "{";
}
header:after {
  content: "}";
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: var(--secondary-highlight-color);
  font-size: 3rem;
  margin: 0;
}

.header__subtitle {
  color: var(--main-text-color);
  font-size: 2rem;
  font-weight: 500;
}

.text-appearing:after {
  content: "|";
  color: var(--main-text-color);
  animation: pulse 0.3s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .header__title {
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  .header__subtitle {
    font-size: 1.3rem;
  }
}

.blob {
  position: absolute;
  width: 20vw;
}

#blob1 {
  right: 0vw;
  bottom: 5vw;
}

#blob2 {
  right: 7vw;
  bottom: 15vw;
  width: 13vw;
}

#blob3 {
  right: 8vw;
  bottom: 1.3vw;
  width: 13vw;
  transform: rotate(125deg);
}
