:root {
  --main-bg-color: #ffeaa7;
  --secondary-bg-color: #fab1a0;
  --highlight-color: #ff7675;
  --secondary-highlight-color: #30336b;
  --main-text-color: #2d3436;
  --secondary-text-color: #00a5ce;
}
