:root {
  --main-bg-color: #e7bd7f;
  --secondary-bg-color: #bed8ae;
  --highlight-color: #eb7357;
  --secondary-highlight-color: #248b8c;
  --main-text-color: black;
  --secondary-text-color: #0a2e47;
}
